<div class="profIntro">
  <img src="<%= user.photo %>" alt="profileImg" class="profileImg">
  <div>
    <h3><%= user.name %></h3>
    <span> Number of Posts:<%= user.posts_counter %></span>
  </div>
</div>
