<%= render partial: 'biouser', locals: { user: @user} %>
<a href="<%=users_path( @users) %>" class="linkButton">
  See all Users
</a>
<a href="<%=user_posts_path( @user) %>" class="linkButton">
  <%=@user.name  %> posts
</a>
