<%= render partial: 'biopost', locals: { post: @post } %>
<a href="<%=user_posts_path( @post.author,@posts) %>" class="linkButton">
  See all posts
</a>
<a href="<%=users_path( @users) %>" class="linkButton">
  See all Users
</a>
<a href="<%= new_user_post_comment_path(@post.author,@post) %>" class="linkButton">
  add a comment
</a>
