/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: Helvetica, Geneva, Arial, sans-serif;
  font-size: small;
  /* color: #2f55e0;
  background-color: #9d9999; */
}

a:link,
a:active,
a:visited {
  color: #cd0000;
}
.profileImg{
  flex: 1;
}
span {
  font-size: x-small;
  align-self: flex-end;
}

.profIntro {
  padding: .5rem;
  width: 15rem;
  border: 1px solid black ;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
}

.profIntro div {
  display: flex;
  gap: 1rem;
  flex: 2;
  flex-direction: row;
}
.profIntro div h3 {
  flex: 1;
}
.users {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
